.App {
  font-family: sans-serif;
  text-align: center;
  max-width: 1300px;
  margin: auto;
}
.container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  h1 {
    margin-bottom: 20px;
  }
}
